@import './PaletteVariables.scss';

// .app{
//   background-color: $p-red;
// }
body {
  background-color: $p-white;
}
.app {
  display: grid;
  grid-template-columns: 175px 1fr;
}
.outlet {
  margin-left: 15px;
}