@import './PaletteVariables.scss';

.currentRotationContainer{
 

  color: $p-red;
  font-family: 'Staatliches';
  .rotationArrayContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  
  }

}