@import './PaletteVariables.scss';

.currentRotationContainer{
  // display: flex;
  // flex-direction: column;
  //flex-wrap: wrap;
  //justify-content:space-around;
  padding-right: 2%;
  padding-left: 2%;

  color: $p-red;
  font-family: 'Staatliches';
  .rotationArrayContainer{
    display: flex;
    flex-direction: wrap;
  }

}