@import './PaletteVariables.scss';

.input-field-label {
    font-family: 'Staatliches';
    font-size: 150%;
    color: $p-darkBlue;
}
.input-field-input{
  font-family: 'Staatliches';
  font-size: 150%;
  color:$p-orange;

}

.input-field-container {
  padding-bottom: 16px;

  display: flex;
  flex-direction: column;
}

.input-field-label {
  margin-bottom: 8px;
}

.input-field-input {
  background-color: transparent;
  
  border-color: $p-grey;
  border-width: 1px;
  border-radius: 5px;

  min-width: 225px;
  max-width: 250px;
}

.input-field-input:focus {
  outline: none;
}