@import './PaletteVariables.scss';

body,html {
  margin: 0;
  padding: 0;
  background-color: $p-white;
}

.loginPage{


.logoContainer{
  //position: relative;
  background-color: $p-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //overflow: auto;
  //max-height: 1000px;
  img{
  margin-top: -20%;
  margin-left: -28%;
  margin-right: -20%;
  margin-bottom: -20%;

  width: 700px;
  height: 700px;
 

  }
  h1{
    //display: inline;
    //float: center;
    color: $p-darkBlue;
    font-size: 45px;
    font-family:'Staatliches';
    //margin-top: -100px;
    //width: 20px;

  }

}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2%;
  h2{
    color: $p-orange;
    text-align: center;
    font-size: 55px;
    font-family: 'Staatliches';
    margin-bottom: 2%;
  }
  button{
    margin-top: 18%;
    margin-bottom: 20%;
    color: $p-grey;
    background-color: transparent;

    border-radius: 10%;
    border-color: $p-grey;

    font-family:'Staatliches';
    font-size: 25px;
  }
  button:hover{
    background-color:$p-grey ;
    color: $p-orange;
  }
  .needAcc{
    font-family: 'Staatliches';
    color: $p-mediumBlue;
    a{
      color: $p-darkBlue;
    }
    a:hover{
      color: $p-red;
    }
  }

}

}