.popup{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  .popupinner{
    position: relative;
    padding: 32px;
    width:100%;
    background-color: rgb(248, 117, 215);

  }
  .closeBut{
    position: absolute;
    top: 16px;
    right:16px;
  }
}