$p-red:#ED5565;
$p-darkRed:rgb(118.5, 42.5, 50.5);
$p-peach:rgb(255, 196, 165);
$p-mediumPeach:rgb(255, 225.5, 210);
$p-midPeach:rgb(255, 233.2, 221.7);
$p-lightPeach:rgb(255, 240.3, 232.5);
$p-orange:#F8AC59;
$p-midOrange:rgb(251, 213.5, 172);
$p-lightOrange:rgb(253.3, 234.3, 213.5);
$p-lightBlue:#C1E5EF;
$p-mediumBlue:#1799C6;
$p-darkBlue:#08597D;
$p-grey: #696773;
$p-white: #EFF1F3;

//$f-anton:'Anton';
